@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

@font-face {
  font-family: Kiona;
  src: url('./fonts/Kiona-Regular.ttf');
}



.btnZoe {
    color: black;
    background-color: #FFF0AF;
    border: 20px;
    text-align: center;
    padding-top: 5px;
    margin-top: 40px;
    font-family: khula;
    font-size: 18px;
    border: 1px solid black ;
    width: 140px;
    height: 40px;
    text-decoration: underline;
  }
