h2 {
    color: #FFF0AF;
    text-shadow: 4px 4px 2px #7F5004;
   -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: #FFF0AF;
    text-align: right;
    font-size: 40px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
}